<script type='text/template' id='accounting-dashboard-template'>

	<div id='main' class='col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2'>
		<div class='row'>
			<div class='col-lg-12'>
				<h1 class='page-header'>Accounting Dashboard</h1>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-12'>
				<button class='btn btn-primary reload_graphs' role='button'>Reload graphs</button> <button class='btn btn-success create-deposit' role='button'>Create deposit</button><br /><br />
			</div>
		</div>
		<div class='row'>
			<div class='col-md-6'>
				<div class='panel panel-info'>
					<div class='panel-heading'>
						Income by month
					</div>
					<div class='panel-body'>
						<canvas id='chart_month' style='width:100%'></canvas>
					</div>
				</div>
			</div>
			<div class='col-md-6'>
				<div class='panel panel-info'>
					<div class='panel-heading'>
						Total income
					</div>
					<div class='panel-body'>
						<canvas id='chart_total' style='width:100%'></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-6'>
				<div class='panel panel-info'>
					<div class='panel-heading'>
						Income by transaction type
					</div>
					<div class='panel-body'>
						<canvas id='chart_transaction_type' style='width:100%'></canvas>
					</div>
				</div>
			</div>
			<div class='col-md-6'>
				<div class='panel panel-info'>
					<div class='panel-heading'>
						Income by group type
					</div>
					<div class='panel-body'>
						<canvas id='chart_group_type' style='width:100%'></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>   			

</script>
