<script type='text/html' id='addpayment-template'>

	<div class='row' style='margin-bottom: 10px'>
		<div class='col-md-3'>
			Date Paid: <input type='date' id='payment_date'>
		</div>
		<div class='col-md-3'>
			Amount Paid: <input type='number' id='payment_amouht'>
		</div>
		<div class='col-md-3'>
			Payment Type: <select id='payment_type'>
				<option value='Cash'>Cash</option>
				<option value='Check'>Check</option>
				<option value='Credit'>Credit</option>
				<option value='Interdepartment'>Interdepartment</option>
			</select>
		</div>
		<div class='col-md-3'>
			<button class='btn btn-primary' id='savePayment'>Save</button>
		</div>
	</div>

</script>