<script type='text/template' id='event-detail-view'>

    <div class="modal" tabindex="-1" role="dialog" data-backdrop='false'>
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Event</h4>
          </div>
          <div class="modal-body">
          	<h3>Group</h3>
          	<div class='row group static'>
          		<div class='col-md-4'>
          			<p>Contact Name: <b><%- group.groupName %></b></p>
          		</div>
          		<div class='col-md-4'>
          			<p>Group Name: <b><%- group.groupGroup %></b></p>
          		</div>
          		<div class='col-md-4'>
          			<p>Group Type: <b><%- group.groupType %></b></p>
          		</div>
          		<div class='col-md-4'>
          			<p>Grade: <b><%- group.grade %></b></p>
          		</div>
          		<div class='col-md-4'>
          			<p>Email: <b><%- group.email %></b></p>
          		</div>
          		<div class='col-md-4'>
          			<p>Cell Phone: <b><%- group.cellPhone %></b></p>
          		</div>
          		<div class='col-md-4'>
          			<p>Work Phone: <b><%- group.workPhone %></b></p>
          		</div>
          	</div>
          	<div class='row group edit'>
          		<div class='col-md-4'>
          			<p>Contact Name: <input type='text' class='groupName' value='<%- group.groupName %>'></p>
          		</div>
          		<div class='col-md-4'>
          			<p>Group Name: <input type='text' class='groupGroup' value='<%- group.groupGroup %>'></p>
          		</div>
          		<div class='col-md-4'>
          			<p>Group Type: <input type='text' class='groupType' value='<%- group.groupType %>'></p>
          		</div>
          		<div class='col-md-4'>
          			<p>Grade: <input type='text' class='grade' value='<%- group.grade %>'></p>
          		</div>
          		<div class='col-md-4'>
          			<p>Email: <input type='text' class='email' value='<%- group.email %>'></p>
          		</div>
          		<div class='col-md-4'>
          			<p>Cell Phone: <input type='text' class='cellPhone' value='<%- group.cellPhone %>'></p>
          		</div>
          		<div class='col-md-4'>
          			<p>Work Phone: <input type='text' class='workPhone' value='<%- group.workPhone %>'></p>
          		</div>
          	</div>
            <p><button class='btn btn-info edit-group' role='button'><em class='fa fa-pencil'>&nbsp;</em> Edit</button> <button class='btn btn-info view-all-events' role='button'><em class='fa fa-calendar'>&nbsp;</em> View all events</button> <button class='btn btn-success create-new-event' role='button'><em class='fa fa-plus plus-minus'>&nbsp;</em>Create new event</button></p>
            
            <p>
              <div class="new-event-form-landing" style="display:none"></div>
            </p>

            <hr />

            <p>
              <h3>Events</h3>
              <div class="aux-events-landing"></div>
            </p>
          	
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>  			

</script>
