<script type='text/template' id='new-event-view-template'>

    <div class="modal fade" tabindex="-1" role="dialog" data-backdrop='false'>
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">New Event</h4>
          </div>
          <div class="modal-body">
            <div class='select-group create-event-option'>
              <h3>Select a Group</h3>
              <hr />
              <button class='btn btn-primary new-group-click' role='button'>Create new group</button><br /><br />
              <table class='select-group-table' style='width:100%'>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Group</th>
                    <th>Email</th>
                    <th>Buttons</th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class='new-group create-event-option'>
              <h3>New Group</h3>
              <hr />
              <div class='row'>
                <div class='col-md-4'>
                  <p>Contact Name: <input type='text' class='groupName'></p>
                </div>
                <div class='col-md-4'>
                  <p>Group Name: <input type='text' class='groupGroup'></p>
                </div>
                <div class='col-md-4'>
                  <p>Group Type: <input type='text' class='groupType'></p>
                </div>
                <div class='col-md-4'>
                  <p>Grade: <input type='text' class='grade'></p>
                </div>
                <div class='col-md-4'>
                  <p>Email: <input type='text' class='email'></p>
                </div>
                <div class='col-md-4'>
                  <p>Cell Phone: <input type='text' class='cellPhone'></p>
                </div>
                <div class='col-md-4'>
                  <p>Work Phone: <input type='text' class='workPhone'></p>
                </div>
              </div>
              <br />
              <button class='btn btn-primary save-group' role='button'>Create Group</button>
            </div>
            <div class='select-date create-event-option'>
              <h3>Select a Date</h3>
              <hr />
              <h4>Contact Name: <span class='groupName'></span></h4>
              <hr />
              <div class='row'>
                <div class='col-md-4'>
                  Event Date: <input type='date' class='date' />
                </div>
                <div class='col-md-4'>
                  Start Time: <input type='time' class='startTime' />
                </div>
                <div class='col-md-4'>
                  End Time: <input type='time' class='endTime' />
                </div>
              </div>
              <br />
              <button class='btn btn-primary select-date-click'>Next</button>
              <hr />
              <div class='calendar-status'></div>
              <hr />
              <div id='scheduling-new-event-calendar'></div>
            </div>
            <div class='show-details create-event-option'>
              <h3>Show Details</h3>
              <div class='row'>
                <div class='col-md-4'>
                  <p>Show: <input type='text' class='show_data' value='<%- event.show %>'></p>
                </div>
                <div class='col-md-4'>
                  <p>Activity: <input type='text' class='activity' value='<%- event.activity %>'></p>
                </div>
                <div class='col-md-4'>
                  <p>Presenter: <input type='text' class='presenter' value='<%- event.presenter %>'></p>
                </div>
                <div class='col-md-4'>
                  <p>Price: <input type='number' class='price' value='<%- event.price %>'></p>
                </div>
                <div class='col-md-4'>
                  <p>Number of People: <input type='number' class='numOfPeople' value='<%- event.numOfPeople %>'></p>
                </div>
              </div>
              <br />
              <button class='btn btn-success confirm-event'><em class='fa fa-floppy-o'>&nbsp;</em> Save Event</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> 

</script>

<script type='text/template' id='event-view-template'>

	<div id='main' class='col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2'>
		<div class='row'>
			<div class='col-lg-12'>
				<h1 class='page-header'>Events</h1>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-12'>
				<div class='panel panel-info'>
					<div class='panel-heading'>
						Events
					</div>
					<div class='panel-body'>
						<button class='btn btn-success event-search-click' role='button'><em class='fa fa-search'>&nbsp;</em> Search for events</button> <button class='btn btn-primary create-event-click' role='button'><em class='fa fa-plus'>&nbsp;</em> Create Event</button><br /><hr />
						<div class='events-landing'>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>    	

</script>
